@page "/settings"
@inject cashmanager.web.spa.Helpers.AppSettings.LocalConfigurations settings

<PageTitle>Settings Checker</PageTitle>

<a href="https://login.microsoftonline.com/azureadmin.co.uk/adminconsent?client_id=cdbd7705-d2d5-4fb0-a326-daf400d260e0&state=12345&redirect_uri=http%3a%2f%2flocalhost%3a5001&sso_nonce=AwABAAAAAAACAOz_BAD0__TI3xG8Hw3aZ_ly9u1au7asvEnRmqW2krSKgs9w-jvoOp7vlAWIR9PuLH63BO8zHAxPM1mygzwJuCkgl_JJNtQgAA&client-request-id=a9f35f76-27e8-460b-8646-b432299b25a6&mscrid=a9f35f76-27e8-460b-8646-b432299b25a6">Consent API 1</a>>
<a href="https://login.microsoftonline.com/azureadmin.co.uk/adminconsent?client_id=337cea73-3cd2-4140-b4fe-3ebf4b930885&state=12345&redirect_uri=http%3a%2f%2flocalhost%3a5001&sso_nonce=AwABAAAAAAACAOz_BAD0__TI3xG8Hw3aZ_ly9u1au7asvEnRmqW2krSKgs9w-jvoOp7vlAWIR9PuLH63BO8zHAxPM1mygzwJuCkgl_JJNtQgAA&client-request-id=a9f35f76-27e8-460b-8646-b432299b25a6&mscrid=a9f35f76-27e8-460b-8646-b432299b25a6">Consent API 2</a>>
<a href="https://login.microsoftonline.com/azureadmin.co.uk/adminconsent?client_id=9b7ac44f-ff6a-4ae8-b246-dd9cf0a9df40&state=12345&redirect_uri=https%3a%2f%2flocalhost%3a5001&sso_nonce=AwABAAAAAAACAOz_BAD0__TI3xG8Hw3aZ_ly9u1au7asvEnRmqW2krSKgs9w-jvoOp7vlAWIR9PuLH63BO8zHAxPM1mygzwJuCkgl_JJNtQgAA&client-request-id=a9f35f76-27e8-460b-8646-b432299b25a6&mscrid=a9f35f76-27e8-460b-8646-b432299b25a6">Consent Application</a>>
@code {

}
